extends layout

block content
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places')
  script(src='/js/create-waypoint.js')
  .container
      a(href='/').logo: img(src='/img/logo_v.png')
      .row
        .col-md-6.col-md-offset-3
          form.form-horizontal#frmCreateWaypoint(role='form')
            fieldset
              // Form Name
              legend Nieuwe waypoint aanmaken
              // Text input
              .form-group
                label.col-sm-3.control-label(for='textinput') Waypoint naam
                .col-sm-9
                  input#waypoint_name.form-control(type='text', placeholder='Waypoint naam', required='', autofocus='')
              // Text input
              .form-group
                label.col-sm-3.control-label(for='textinput') Search cafes near
                .col-sm-9
                  input#waypoint_nearby.form-control(type='text', placeholder='Search near...')
              // Text input
              .form-group
                label.col-sm-3.control-label(for='textinput') Latitude
                .col-sm-9
                  input#waypoint_lat.form-control(type='text', placeholder='Beschrijving', required='', disabled)
              // Text input
              .form-group
                label.col-sm-3.control-label(for='textinput') Longitude
                .col-sm-9
                  input#waypoint_lng.form-control(type='text', placeholder='Beschrijving', required='', disabled)
              .form-group
                .col-sm-offset-3.col-sm-9
                  .pull-right
                    button.btn.btn-default#btnCancel Cancel
                    button.btn.btn-primary#btnSave(type='submit') Save
        // /.col-lg-12
      // /.row