extends layout

block content
  script(src='/js/create.js')
  .container
      a(href='/').logo: img(src='/img/logo_v.png')
      .row
        .col-md-6.col-md-offset-3
          form.form-horizontal#frmCreateRace(role='form')
            fieldset
              // Form Name
              legend Nieuwe race aanmaken
              // Text input
              .form-group
                label.col-sm-3.control-label(for='textinput') Race naam
                .col-sm-9
                  input#race_name.form-control(type='text', placeholder='Race naam', required='', autofocus='')
              // Text input
              .form-group
                label.col-sm-3.control-label(for='textinput') Beschrijving
                .col-sm-9
                  input#race_description.form-control(type='text', placeholder='Beschrijving', required='')
              // Text input
              .form-group
                label.col-sm-2.col-xs-offset-1.control-label(for='textinput') Status
                .col-sm-3
                  select#race_status.form-control(name='race_status', required='')
                    option(value='Open') Open
                    option(value='Closed') Closed
                label.col-sm-2.col-xs-offset-1.control-label(for='textinput') Startdatum
                .col-sm-3
                  input#race_date_start.form-control(type='text', placeholder='Startdatum', required='')
              .form-group
                .col-sm-offset-3.col-sm-9
                  .pull-right
                    button.btn.btn-default#btnCancel Cancel
                    button.btn.btn-primary#btnSave(type='submit') Save
        // /.col-lg-12
      // /.row