extends layout

block content
  script(src='js/index.js')
  style.
      //- .ui-tabs-vertical { width: 55em; }
      //- .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
      //- .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
      //- .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
      //- .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
      //- .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em	
  .container
      a(href='/').logo: img(src='img/logo_v.png')
      .container
        if(user.admin)
          p
            a(href='/races/create')
              button.btn.btn-primary Nieuwe race
        
        #races
          ul
            li
              a(href='#tab-open') Open
            li
              a(href='#tab-closed') Closed
          #tab-open
          #tab-closed