extends layout

block content
  script(src='js/login.js')
  .container
    a(href='/').logo: img(src='img/logo_h.png')
    .card.card-login.card-container
      // <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" />
      img#profile-img.profile-img-card(src='//ssl.gstatic.com/accounts/ui/avatar_2x.png')
      p#profile-name.profile-name-card
      form.form-signin#frmLogin
        span#reauth-email.reauth-email
        input#email.form-control(type='username', placeholder='Email', required='', autofocus='')
        input#password.form-control(type='password', placeholder='Wachtwoord', required='')
        button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') Inloggen
      // /form
      a.forgot-password(href='/register')
        | Nog geen account?
    // /card-container
  // /container