doctype html
html
  head
    title Place Autocomplete Address Form
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places')
    script.

      function initialize() {
      // Create the autocomplete object, restricting the search
      // to geographical location types.
      autocomplete = new google.maps.places.Autocomplete(
      /** @type {HTMLInputElement} */(document.getElementById('autocomplete')),
      { types: ['geocode'] });
      // When the user selects an address from the dropdown,
      // populate the address fields in the form.
      google.maps.event.addListener(autocomplete, 'place_changed', function() {
      var place = autocomplete.getPlace();
      console.log(place.geometry.location.k);
      console.log(place.geometry.location.D);
      });
      }
  body(onload='initialize()')
    #locationField
      input#autocomplete(placeholder='Enter your address', type='text')

      span#waypoint_name Name: 
      span#waypoint_latitude Latitude: 
      span#waypoint_longitude Longitude: 